* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

:root {
	--color-dark: #221d1d;
	--color-light: #f8f5f1;
	--color-primary: #e48e55;
	--color-secondary: #318b78;

	--font-size: 1.6rem;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: var(--font-size);
	background: var(--color-secondary);
	color: var(--color-light);
}

.container {
	width: 90%;
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 0;
	background: var(--color-primary);
}
.header .header-title {
	font-size: 2.4rem;
}

.main {
	width: 100%;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14rem 0 6rem 0;
	overflow: hidden;
}
.main .container {
	display: grid;
	grid-template: auto / 1fr;
	gap: 6rem;
}
.main .main-figure {
	width: 25rem;
	max-width: 54rem;
	margin: 0 auto;
}
.main .main-figure img {
	width: 100%;
	transform-origin: center;
	animation: moveItem 1s linear infinite alternate;
}
@keyframes moveItem {
	from {
		transform: rotate(-5deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
	}
	to {
		transform: rotate(0deg);
	}
}
.main-content {
	animation: fromRight 1s ease;
}
@keyframes fromRight {
	from {
		transform: translateX(150%);
	}
}
.main-content h1 {
	font-size: 3.5rem;
	line-height: 4.5rem;
}
.main-content p {
	font-size: 1.8rem;
	margin: 4rem 0;
}
.main-content button {
	background: var(--color-primary);
	color: var(--color-light);
	border: none;
	padding: 2.5rem 3rem;
	cursor: pointer;
	font-size: 1.4rem;
	text-transform: uppercase;
}
@media screen and (min-width: 475px) {
	.main .main-figure {
		width: 35rem;
	}
	.main-content h1 {
		font-size: 5rem;
		line-height: 8rem;
	}
}
@media screen and (min-width: 900px) {
	.main .container {
		grid-template: 1fr / repeat(2, 1fr);
		gap: 8rem;
	}
	.main-figure {
		display: flex;
		align-items: center;
	}
	.main-content h1 {
		max-width: 50rem;
	}
	.main-content p {
		max-width: 38rem;
	}
}
@media screen and (min-width: 1000px) {
	.main-content h1 {
		font-size: 6rem;
	}
}

.footer {
	width: 100%;
	padding: 2rem 0;
}
.footer p {
	text-align: center;
	font-size: 1.2rem;
	color: #393232;
}
.footer p a {
	color: var(--color-light);
}
